* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #efefef;
}

.conatiner {
    margin: 0 auto;
    max-width: 1116px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: green;
    padding: 15px;
    color: white;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
    border-radius: 19px;
}

.car-count {
    width: 80px;
    height: 80px;
    background-color: tomato;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.total-counter {
    font-size: 30px;
}

.fa-cart-shopping {
    font-size: 30px;
}

.cars {
    width: 600px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
    background-color: white;
    position: absolute;
    right: 10%;
    top: 20%;
    padding: 20px;
    border-radius: 10px;
    display: none;
}

.counter-elements {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px dashed tomato;
}

.active {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px dashed tomato;
}

.img-1 img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.cart-name {
    font-size: 20px;
}

.price-cart {
    background-color: tomato;
    color: white;
    margin: 7px;
    padding: 7px;
    border-radius: 5px;
}

button {
    border: none;
    margin-left: 8px;
    padding: 8px 13px;
    background-color: tomato;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: rgb(255, 71, 71);
}

.cart-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
    margin-left: 8%;
    margin-top: 8%;
}

.car-item {
    width: 300px;
    height: 300px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: white;
    text-align: center;
}

.imges img {
    object-fit: cover;
    width: 150px;
}

.img-name {
    font-size: 30px;
}

.pricecart {
    width: 80%;
    border: 2px solid tomato;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    margin-left: 10%;
}

.btn-add {
    width: 80%;
    margin-top: 10px;
    font-weight: bold;
}